@charset "utf-8";
/*クロスワードの設定*/
@import url('common.css');
.Crossuser#main,.ranking#main,.replay#main,.CrossChose#main{
	width:1152px;
	background-image: url('/photo/CrossWord/kanban3.png');
	background-position:90px -40px;
	background-repeat:no-repeat;
	height:648px;
	background-size:85% 100%;
	position:relative;
}

.userdiv,.configdiv{
	background-image: url('/photo/CrossWord/print.png');
	background-size:100% 100%;
	z-index;3;
	display:none
}

/* [クロスワード(user)]基本設定ここから↓*/
#tutorial,.userdiv,.configdiv,div#Cross{
  	position: absolute;
	top: 80px;
	left: 380px;
}
.userdiv,.configdiv{
	width:450px;
	height:400px;
}
#tutorial,div#Cross{
	width:750px;
	height:500px;
	margin-top:30px;
	left:200px;
	z-index;1;
}
#Description{
	width:600px;
	height:300px;
	padding:5px 0;
	background-color:white;
	margin:0 auto 0 auto ;
}

.userdiv h2{
	margin-top:50px;
}

#Description p{
	text-align:left;
	padding:20px;
}
#chose{
	margin-top:25px;
}
#main  #tutorial ul li{
	display:inline-block;
	padding:0 10px;
}
.back{
	position: absolute;
    top: 5px;
    left: 380px;
    width:50px;
	height:50px;
}
.back:hover{
	opacity:0.9;
}
/* [クロスワード(user)]基本設定ここまで↑ */

/* [クロスワード(CrossChose)]基本設定ここから↓*/

#main #Cross ul li{
	display:inline-block;
	padding:0px 5px;:
}

#main #oldcro {
	width:700px;
	margin-right:0;
	margin-left:15px;
}

#button-list{
	margin-top:50px;
}
#oldcro button{
	margin-bottom:10px;
}
#oldcro button p{
	margin:0;
	background-color:aliceblue;
	font-size:16px;
}
#oldcro button p:nth-of-type(1){
	background-color:#00CCFF;
	padding:5px 6px;
	color:white;
}
#oldcro button p:nth-of-type(2){
	color:#778899;
}
#oldcro button p:nth-of-type(3){
	color:#815a2b;
}
#main .update a{
	position: absolute;
    top:450px;
    left:900px;
}
/* [クロスワード(CrossChose)]基本設定ここまで↑ */


/* [クロスワード(play)]基本設定ここから↓*/
.CrossWordPlaying{
	background-image: url('/photo/CrossWord/background_01.jpg');
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: center center;
}

.crossword {
	display:inline-block;
}
/* [クロスワード(play)]基本設定ここまで↑ */

/* [クロスワード(play)]タイマー出力 ここから↓ */
p#PassageArea {
	height: 40px;
	margin: 20px 0 20px 0;
	padding: 10px;
	font-size: 25px;
	background-image: url('/photo/CrossWord/time2.png');
	background-repeat:no-repeat;
	background-size: 100% 100%;
}

/* [クロスワード(play)]タイマー出力 ここまで↑ */

/* [クロスワード(play)]問題出力ここから↓ */
.crossword#main,.crossword#sub {
	float: left;
}

.crossword#main {
	margin-left: 40px;
}

.crossword[type="text"] {
	width: calc(0vmin + 60px);
	height: calc(0vmin + 60px);
	font-size: 18px;
	text-align: center;
}

li #dummy {
	width: calc(0vmin + 60px);
	height: calc(0vmin + 60px);
}
#enp.crossword {
	background-color: #000000;
}
#table ul {
	padding: 0;
	font-size: 0;
}
#row ul li {
	float: left;
}
/* [クロスワード(home)]問題出力ここまで↑ */

/* [クロスワード(play)]ヒント出力ここから↓ */
#sub {
	text-align: center;
}

.crossword#sub {
	background-image: url('/photo/CrossWord/kanban02.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
	text-align: center;
	background-repeat: no-repeat;
	background-position: center top;
	float: right;
	width: 430px;
	height: 580px;
}

#hint ul {
	padding: 0;
}

.hint {
	width: 180px;
	height: 360px;
	float: left;
	color: #565656;
	background-repeat: no-repeat;
	background-position: left top;
	margin-top:95px;
}

.hint#left {
	margin-left: 20px;
}

.hint p {
	background-image:url('/photo/CrossWord/ribbon_white.png');
	background-size:100% 100%;
	background-position:center -0px;
	margin:0;
	height:50px;
	padding-top:15px;
}

.hintList {
	padding: 2px;
	margin: 10px;
	color: #565656;
	background: #ffeaea;
	box-shadow: 0px 0px 0px 2px #ffeaea;
	border: dashed 2px #ffc3c3;
	border-radius: 8px;
	text-align: center;
}

ul#keycol {
	padding-left: 40px;
}


.haba{
	width:150px;
	margin:0 10px;
}
/* [クロスワード(play)]ヒント出力ここまで↑ */

/* [クロスワード(rank)]基本設定ここから↓ */
.ranking#center {
	height: 600px;
	overflow: hidden;
	z-index;1;
}

#rankTable {
	height:300px;
	margin: 0 auto 0 auto;
	font-size: 120%;
	margin-top:80px;
	border-collapse:collapse;
}
#rankTable td,#rankTable th{
	border:1px solid #999999;
}
#rankTable caption img{
	width:300px;
	height:80px;
}
#rankTable thead {
	background-color:#573939;
	color:#eee6de;
}
#rankTable tbody tr:nth-of-type(1){
	color:#ffd700;
}
#rankTable tbody tr:nth-of-type(2){
	color:#c0c0c0;
}
#rankTable tbody tr:nth-of-type(3){
	color:#815a2b;
}
#rankTable tbody tr{
	background-color:#ffffff;
	color:black;
	height:50px;
}
#rankTable tbody tr:nth-of-type(even){
	background-color:#f5f3f3;
}
#rankTable tbody  #rankuser{
	background-color:#99FFCC;
}

.rank1{
	text-align:center;
}
.user{
	text-align:left;
}
.score {
	text-align: right;
}
#rankTable td:nth-child(1) ,#rankTable th:nth-child(1){ width: 70px; }
#rankTable td:nth-child(2) ,#rankTable th:nth-child(2){ width: 300px; }
#rankTable td:nth-child(3) ,#rankTable th:nth-child(3){ width: 100px; }

/*スクロースバーの設定*/
#rankTable thead,#rankTable tbody{
	display:block;
}
#rankTable tbody{
	overflow-x:hidden;
	overflow-y:scroll;
	height:250px;
	position: relative;
}
#rankTable tbody::-webkit-scrollbar{
  width: 20px;
  height:60px;
}
#rankTable tbody::-webkit-scrollbar-track{
  background: #fff;
  border: none;
  border-radius: 10px;
  box-shadow: inset 0 0 2px #777;
}
#rankTable tbody::-webkit-scrollbar-thumb{
  background: #aaa;
  border-radius: 10px;
  box-shadow: none;
}
/* [クロスワード(rank)]基本設定ここまで↑ */
/* [クロスワード(replay)]基本設定ここから↓*/
.configdiv{
	margin-top:40px;
}
.configdiv ul{
	margin-top:40px;
}

.configdiv li{
	margin:40px auto 0 auto;
	width:300px;
}

.configdiv li a{
	color:white;
	text-decoration: none;
}
/* [クロスワード(replay)]基本設定ここまで↑ */