<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>クロスワード</title>
		<link rel="stylesheet" type="text/css" th:href="@{'/css/style.css'}" />
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
		<script type="text/javascript" src="../javascript/createCrossword.js"></script>
		<script type="text/javascript" src="../javascript/ansDragAndDrop.js"></script>
	</head>
	<body>
		<div th:replace="common/header::header"></div>
		<div class="CrossWordPlaying" id="body">
		<form name="form" th:object="${h_from}" method="GET" th:action="|/crossword/play/check|" id="j_form">
			<input id='width' type="hidden" th:value="*{width}" />
			<input id='height' type="hidden" th:value="*{height}" />
			<input id='template' type="hidden" th:value="*{crossWord_wk}" />
			<input id='time' name="time" type="hidden" th:value="*{time}" />
			<input id='userId' name='user.id' type="hidden" th:value="${h_user.id}" />
			<!-- クロスワード出力部 -->
			<p id="PassageArea" th:text="'経過時間：' +  *{time} + '秒'"></p>
			<section class="crossword" id="main">
				<div id="table"></div>
			</section>
			<!-- ヒント出力部 -->
				<section class="crossword" id="sub" draggable="false">
					<div id="hint">
						<div class="hint" id="left">
							<p>横キー<br /></p>
							<div class="hintList" th:each="word,status : *{wordListCol}" th:attr="id='keycol' + __${status.index}__" th:text="${word.word}"
								draggable="true"  ondragstart="f_dragstart(event)"></div>
						</div>
						<div class="hint" id="right">
							<p>縦キー<br /></p>
							<div class="hintList" th:each="word,status : *{wordListRow}" th:attr="id='keyrow' + __${status.index}__" th:text="${word.word}"
								draggable="true"  ondragstart="f_dragstart(event)"></div>
						</div>
					</div>
					<div id="button-center">
						<input class="button-middle" id="button-orange" type="submit" value="完成" onclick="stopShowing();" />
					</div>
				</section>
			</form>
		</div>
		<footer>
		</footer>
	</body>
</html>