<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>ランキング</title>
		<link rel="stylesheet" type="text/css" th:href="@{'/css/style.css'}" />
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
		<script type="text/javascript" src="/../javascript/Scroll.js"></script>
		<script type="text/javascript" src="/../javascript/common.js"></script>
	</head>
	<body>
		<div th:replace="common/header::header"></div>
		<div id="body">
			<section class="ranking" id="main">
				<div class="ranking" id="center">
						<table id="rankTable">
							<caption>
							<img src=" /../photo/CrossWord/rank.png" alt="ランキング" ></img>
							<div>
							<select name="rankrange">
								<option th:value="MYランク" th:text="myランク"></option>
								<option th:each="range:${h_range}" th:value="${range}" th:text="${range}+'位'" th:selected="${range}"></option>
							</select><!--value="0"   selected="0"-->
							</div>
							</caption>
							<thead>
								<tr>
									<th  th:text="順位"></th>
									<th  th:text="ユーザー名"></th>
									<th th:text="スコア"></th>
								</tr>
							</thead>
							<tbody class="scroll">
								<tr th:each="ranking : ${h_rankUsers}" th:id="${ranking.ranking}">
									<td class="rank1" th:text="${ranking.ranking}" th:if="${ranking.id ==h_userId}" id="rankuser"></td>
									<td class="user" th:text="${ranking.name}"     th:if="${ranking.id ==h_userId}" id="rankuser"></td>
									<td class="score" th:text="${ranking.score}"   th:if="${ranking.id ==h_userId}" id="rankuser"></td>

									<td class="rank1" th:text="${ranking.ranking}" th:if="${ranking.id !=h_userId}" id="dummy"></td>
									<td class="user" th:text="${ranking.name}"     th:if="${ranking.id !=h_userId}" id="dummy"></td>
									<td class="score" th:text="${ranking.score}"   th:if="${ranking.id !=h_userId}" id="dummy"></td>
								</tr>
							</tbody>
						</table>
						<form  method="get" th:action="|/crossword/play/rank/replay|">
						<div id="button-center">
						<a class="input-ki haba" id="next" href="javascript:void(0)">次へ</a>
						</div>
						</form>
					</div>

					<div id="show" class="configdiv">
					<ul>
						<li	class="input-ki small" ><a 	 href="crossword" th:href="@{/crossword/Chose}">ほかのクロスワードを解く</a></li>
 						<li	class="input-ki small" ><a 	 href="crossword" th:href="@{/crossword/wantdo}">ホーム画面に戻る</a></li>
						<li	class="input-ki small" ><a   href="crossword" th:href="@{/crossword/play/rank}">現在のランキングに戻る</a></li>
						<li	class="input-ki small" ><a   href="crossword" th:href="@{/crossword}">ログアウト</a></li>
					</ul>
				</div>
			</section>
		</div>
	</body>
</html>