<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>ユーザー登録</title>
		<link rel="stylesheet" type="text/css" th:href="@{'/css/style.css'}" />
	</head>
	<body th:object="${h_from}">
		<div th:replace="common/header::header"></div>
		<div id="body">
		<form action="user" method="post">
			<section class="crossword" id="main">
			</section>
			<div id="button-center">
				<p>
				<a class="button-big" id="button-orange" href="crossword/user" th:href="@{/crossword/user}">登録画面へ戻る</a>
				</p>
			</div>
		</form>
		</div>
		<footer>
		</footer>
	</body>
</html>