<html xmlns:th="http://www.thymeleaf.org" th:with="title=ほーむ">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>FOREST STUDIO</title>
	</head>
	<body id="top">
		<header>
		<h1>FOREST STUDIO</h1>
		</header>
		<section>
			<div id="photo">
			<h1>FOREST SUDIO</h1>

			<p>自然のあれこれをお届けする森の工房です</p>
			</div>

			<p id="message">forreest studioは、森や自然を生かしたイベントや商品をお届けしている工房です。自然の中にある「森の工房」では、四季折々の風景を楽しんだり、森の散歩を楽しむことができます。お近くまでお越しの際は、ぜひお立ち寄りください。
			</p>

		</section>
		<footer>
			<small>Copyright &copy; FOREST STUDIO,all rights reserved.</small>
		</footer>
	</body>
</html>